@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Mono&family=Press+Start+2P&display=swap');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root{
    --headings-color: #919191;
    --bg-color: #EDEFF1;
}

body{
    background: var(--bg-color);
    margin: 0;

}

